spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://management.czchaiykemru.ap-northeast-2.rds.amazonaws.com:3306/koonsdiary?serverTimezone=Asia/Seoul
    username: koonda
    password: cucumber52
  output:
    ansi:
      enabled: ALWAYS
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        #show_sql: true
        format_sql: true

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type: trace