# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Set up secret Key
      shell: bash
      env:
        SECRETS_DB: ${{secrets.MYSQL}}
        SECRETS_DB_Test: ${{secrets.MYSQL_TEST}}
      run: |
        mkdir src/main/resources -p
        touch src/main/resources/application.yml
        echo $SECRETS_DB > src/main/resources/application.yml
        mkdir src/test/resources -p
        touch src/test/resources/application.yml
        echo $SECRETS_DB_Test > src/test/resources/application.yml

    - name: Setup MySQL
      uses: samin/mysql-action@v1
      with:
        character set server: 'utf8'
        mysql database: 'koonsdiary'
        mysql user: 'koonda'
        mysql password: ${{ secrets.MYSQL_PASSWORD }}
      
    - name: Build with Gradle
      run: ./gradlew build -x test
      
    - name: Test with Gradle
      run: ./gradlew test




      
